In [2]:
x = 50
y = 100

z = x + y

print (z)

150

In [3]:
z = y - x
print(z)

50

In [4]:
z = x * y
print (z)

5000

In [8]:
z = x / y
print (z)

0.5

In [6]:
x = 10
y = 20
if x == 10:
 print("hello")
else:
 print("bye")

hello

In [5]:
subjects = ["Software", "Chemistry", "English", "Arabic"]
def subject_availability(subject_name):
    if(is_available(subject_name)):
    return "the subject is available"
 else:
    return "the subject is not available"


def is_available(subject_name):
    return subject_name in subjects

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 5)

In [7]:
input_subject = input("Please enter the name of the subject : ")
print(subject_availability(input_subject))

Please enter the name of the subject : Software

NameError: name 'subject_availability' is not defined

In [8]:
x = ['Danish', 'Faris', 'Amirul']
len(x)

3

In [9]:
student = {
 "name": "Saranghaeyo",
 "age": 27
}
print(student["name"])

Saranghaeyo

In [ ]:
def sum(a,b):
    return a+b
def sub(a,b):
    return a-b
def mult(a,b):
    return a*b
def divi(a,b):
    return a/b

In [ ]:
print(sum(20, 10))
print(sub(20, 10))
print(mult(20, 10))
print(divi(20, 10))